.pageContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(./EcoSmart_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    height: 550px;
    width: 800px;
    /*background-color: rgba(0,0,0);*/
    /*backdrop-filter: blur(5px);*/
}

.ecoSmartTitleContainer{
    color: white;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.ecoSmartName{
    font-weight: 500;
    font-size: 25px;
}

.ecoSmartHomeHub{
    font-weight: lighter;
    font-size: 12.5px;
}
