.bgImage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url(./EcoSmart_BG.jpg);
    /* background-image: url(./Mountain_BG.jpg);
    background-image: url(./forest_BG.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(80%);
}

.HomePageContainer {
    background-image: url(./EcoSmart_Home_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.RegisterContainer {
    background-image: url(./EcoSmart_Home_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.LoginContainer {
    background-image: url(./EcoSmart_Home_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    height: 550px;
    width: 800px;
    /*background-color: rgba(0,0,0);*/
    /*backdrop-filter: blur(5px);*/
}

.ecoSmartTitleContainer{
    color: white;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.ecoSmartName{
    font-weight: 500;
    font-size: 25px;
}

.ecoSmartHomeHub{
    font-weight: lighter;
    font-size: 12.5px;
}

.ledLightPanelContainer{
    height: 145px;
    width: 145px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    transition: all .3s ease-in-out;
}

.ledLightPanelContainer.clicked{
    cursor: pointer;
    transform: scale(0.93);
}

.fanPanelContainer{
    height: 145px;
    width: 145px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    transition: all .3s ease-in-out;
}

.fanPanelContainer.clicked{
    cursor: pointer;
    transform: scale(0.93);
}

.dashboard{
    margin-top: 15px;
    display: flex;
}

.leftSideContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.TimeAndHumidityContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.TimePanelContainer{
    height: 145px;
    width: 312px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.HumidityPanelContainer{
    height: 145px;
    width: 312px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.tempContainer{
    margin-top: 15px;
}

.TemperaturePanelContainer{
    height: 303px;
    width: 640px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: -1px -1px 2px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}


.lightIconAndActiveContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
    /*align-items: center;*/
}

.fanLabelAndActiveContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.onOrOffContainer{
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 12px;
}

.FanIconContainer{
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
}

.FanAnimation{
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg); /* Start from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate to 360 degrees (full circle) */
    }
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width:80%; /* Full-width */
    height: 2px; /* Specified height */
    background: #00000030; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 50px;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 15px; /* Set a specific slider handle width */
height:15px; /* Slider handle height */
background: white; /* Green background */
cursor: pointer; /* Cursor on hover */
border-radius: 50px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.lightLabelAndPercentageContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
}

.graphBtn{
    padding: 2px 5px;
    border-radius: 4px;
}

.graphBtn:hover {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.8) 20%, rgba(207, 207, 207, 0.8) 100%);
    color: white;
    cursor: pointer;
}